
.dropdown {
    text-align: start;
    position: relative;
    width: auto;
    --border-color: #aaaaaa;
    --background-color: #ffffff;
    --selected-color: #eef4fa;
    --hover-color: #eeeeee;
    --selected-hover-color: #d4e9ff;
}

.dropdownButton {
    max-width: 100%;
    height: 40px;
    padding: 8px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--background-color);
}

.dropdownOptions {
    position: absolute;
    top: 40px;
    left: 0;   
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}

.dropdownButton, .dropdownOptions {
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.dropdownOption {
    display: block;
    padding: 4px 12px;
    width: 100%;
    text-align: left;
    border: none;
    background-color: var(--background-color);
}

.dropdownOption.selected {
    background-color: var(--selected-color);
}

.dropdownButton:hover, 
.dropdownOption:hover {
    background-color: var(--hover-color);
}

.dropdownOption.selected:hover {
    background-color: var(--selected-hover-color);
}
